### Gradle template
.gradle
/build/

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

### JetBrains template
# IntelliJ
.idea/
*.iml
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### custom
resources/.qiniu.properties
assembly/
.DS_Store
