# list bucket
#ak=2-4Tf_7Gaa91wtpGGHCZF6C3Dp1xZbzvnhGw6NDJ
#sk=HR6hVM8AVIaF_4PGEVrSTq92H-D9Q41yfDV2HfvZ
#bucket=temp
#save-path=../temp

# 数据源方式，通过 list bucket 或者 local file 输入，输入的数据为文本行内容，可针对每一行数据进行处理，不同输入源方式对应不同的配置参数
#source=list
#source-type=file

#ak=
#sk=
#bucket=temp
#save-path=../result
#rm-fields=fsize,hash
#threads=1
#unit-len=1000
#prefixes=a
prefixes=v2/.qiniucdn.apicloud-system.com_2019-02
#prefixes=qiniucdn.apicloud-system.com_2019
#prefixes=a,b,c,a,\\,,,d
#prefix-config=resources/prefixes.json
#anti-prefixes=a
#prefix-left=true
#prefix-right=false

#f-prefix=
#f-suffix=
#f-regex=
#f-mime=image
#f-type=
#f-status=
#f-date-scale=0,2018-08-01
#f-direction=1
#f-anti-prefix=
#f-anti-suffix=
#f-anti-regex=
#f-anti-mime=

#path=../test.txt
#parse=table
parse=json
#indexes=key,hash,size,datetime,mime,type,status,owner
#in-separator=
#url-index=0
#save-path=../pfop-result
#max-threads=100
#ak=
#sk=
#bucket=temp
#save-format=table
#save-format=json
#save-total=true

#process=copy
#process=stat
#process=asyncfetch
#process=type
#process=delete
#process=pfopresult
#process=pfop
#process=avinfo

to-bucket=tslog
#add-prefix=
rm-prefix=v2/.
type=1
status=0
days=0
domain=pbtd4i1at.bkt.clouddn.com
#domain=miaopai-s.oss-cn-beijing.aliyuncs.com
#use-https=
#private=
#host=
#callback-url=
#callback-body=
#callback-body-type=
#callback-host=
#file-type=
#ignore-same-key=



