# list bucket
#ak=2-4Tf_7Gaa91wtpGGHCZF6C3Dp1xZbzvnhGw6NDJ
#sk=HR6hVM8AVIaF_4PGEVrSTq92H-D9Q41yfDV2HfvZ
#bucket=temp
#result-path=../temp
#ak=DxyPDsW6Ls3e00yuBN7KnOIfPrBoRhzldSGg09YU
#sk=h8iiZ6XBkHNClkSc7cFffe-UuWVpora49WAOsNXY
#bucket=image
#result-path=../image
#prefix=Z
# shenzhouying
#ak=YUXIVsFUqivpnEq4jhNGOUDMykxTiLYlX56TLeyq
#sk=dqxMEAIe2jg4--DQTPJL37beLFcJNOh3Rj3Rjxqc
#bucket=zthome
#result-path=../zthome
#process=
# zhongxing
#ak=ghFvdyWhXUFN7Ivxb3VF6md-np4s4hc0wnaQA846
#sk=boymETtq8GFwrU-tA6EMKeCkstFovQDarpuePBsa
#bucket=stor-in-qbox-07
#result-path=../stor-in-qbox-07
#ak=HQ43UXX9b_nRsVVUaziiF0LEMshgP1QGUQ_LOTBO
#sk=9M55rAnkzRPRFQnjoRemQVPDEa1_jFuzjvgh1WlS
#bucket=video360
#result-path=../video360
# meishe
#ak=HQ43UXX9b_nRsVVUaziiF0LEMshgP1QGUQ_LOTBO
#sk=9M55rAnkzRPRFQnjoRemQVPDEa1_jFuzjvgh1WlS
#bucket=video360-delete
#result-path=../video360-delete
#process=filter
# diyidan
#ak=f1VWrxM4102vhPMIC_lXGVcrYy6W2o__kLpURvWU
#sk=phr1yVPJ1-0ZyOhEbbmyN2paH2rC0AYo6qPc_bYH
#bucket=diyidan-music
#result-path=../diyidan-music
# kodo-log
#ak=dxVQk8gyk3WswArbNhdKIwmwibJ9nFsQhMNUmtIM
#sk=s-95BDHpzyHPzHAe7WGdAeTy98vVwqdki-0U027j
#bucket=kodo-z0-req-up
#result-path=../kodo-z0-req-up
# panda-xingxiu
#ak=nM3BU2Aw_FeVyeAXL-t5LlUWI3D2Nn5HUFyVKF6E
#sk=8fMo_B8y7oXCCAc660SBv_9979Cj_SpMhFzVh1ps
#bucket=panda-xingxiu
#result-path=../panda-xingxiu
#prefix=porn/panda-xingxiu-process/
# jedi-data
#ak=ZxcHQ2zCD03Wt4PLHDOTMuoHmQSYsP1nYqRpTOKM
#sk=LKlMIluYryzI-iqO5kOP_ujapQ88RCkvnm68JyeK
#bucket=menyaer-dst
#result-path=../menyaer-dst
#ak=APr-0r16TJVWhR6Q9UlorOP9t9awcXjaluqeiF4s
#sk=kAseD1oosWZXSADbUN4WsB9ybztYNRilxN6EAzgy
#bucket=sale-item
#result-path=../sale-item
# fusion
ak=557TpseUM8ovpfUhaw8gfa2DQ0104ZScM-BTIcBx
sk=d9xLPyreEG59pR01sRQcFywhm4huL-XEpHHcVa90
bucket=fusionlog
#bucket=tslog
result-path=../fusionlog
# jiangwei@kongzhong.com
#ak=BosIi84pfa-rxPXLT11rLJ-VkUB_lBm_TPQ369_z
#sk=Kx0_zi0phCqB_iqp8sSqDJy2gQnoNbTMs4OoZ9kO
#bucket=dawang-live
#result-path=../dawang-live
# 1380782315
#ak=Zmrf3fA8zUkThaFfz4L90suP9A1fYRl234yCx2DR
#sk=Jmvg08wiAyjVcLnGrJ6IzwalNYn99d_UPEfzk6BY
#bucket=machinelog
#result-path=../machinelog1
# zhuishu
#ak=q6N-CBLtBwTq5Y7xC2wpXR6gx5xFVBQHEi4Cm7Ke
#sk=HBCaiZEgspzEBgFhCCV-wwlgWwglKcfiH_362Hht
#bucket=zhui-staticsrm
#result-path=../zhui-statics
# fantexi
#ak=1VnbDKqOdzLf9oRHJqenwBsMqTS0YNztocncP7HH
#sk=CntXeuNL74w4WSBcen6NK1nZt8oSoWEiD3sBIOEe
# bilibili
#source-type=list
#ak=MYqzXnGLWp0v7so0hgtj6WCk0gnqSoe4MzqHe5Gk
#sk=L2baj1JMFWv6WjDC5_GNTE8RxNIiDZFJMTYWtq5e
#bucket=uposmirror
#result-path=../bilibili

# 数据源方式，通过 list bucket 或者 local file 输入，输入的数据为文本行内容，可针对每一行数据进行处理，不同输入源方式对应不同的配置参数
#source=list
#source-type=file

#ak=
#sk=
#bucket=temp
#result-path=../result
#rm-fields=fsize,hash
#threads=1
#unit-len=1000
#prefixes=a
prefixes=v2/.qiniucdn.apicloud-system.com_2019-02
#prefixes=qiniucdn.apicloud-system.com_2019
#prefixes=a,b,c,a,\\,,,d
#prefix-config=resources/prefixes.json
#anti-prefixes=a
#prefix-left=true
#prefix-right=false
#start=10.mp4

#f-prefix=
#f-suffix=
#f-regex=
#f-mime=image
#f-type=
#f-status=
#f-date=2018-08-01
#f-time=00:00:00
#f-direction=1
#f-anti-prefix=
#f-anti-suffix=
#f-anti-regex=
#f-anti-mime=

#file-path=../fantexi/temp/persistent.txt
#file-path=../pfop-result
#file-path=../temp/table.txt
#file-path=../image
#file-path=../../fantexi/keys
#result-path=../../fantexi/avinfo
#parse-type=table
parse-type=json
#indexes=key,hash,fsize,putTime,mimeType,type,status,endUser
in-separator=
#url-index=0
#result-path=../pfop-result
#result-path=../fantexi-result
#max-threads=100
#ak=
#sk=
#bucket=temp
#result-format=table
#result-format=json
#save-total=true

#process=copy
#process=stat
#process=asyncfetch
#process=type
#process=delete
#process=pfopresult
#process=pfop
#process=avinfo

to-bucket=tslog
add-prefix=
rm-prefix=v2/.
type=1
status=0
days=0
domain=pbtd4i1at.bkt.clouddn.com
#domain=miaopai-s.oss-cn-beijing.aliyuncs.com
use-https=
private=
host=
callback-url=
callback-body=
callback-body-type=
callback-host=
file-type=
ignore-same-key=

#fantexi
#ak=1VnbDKqOdzLf9oRHJqenwBsMqTS0YNztocncP7HH
#sk=CntXeuNL74w4WSBcen6NK1nZt8oSoWEiD3sBIOEe
#source-type=file
#threads=10
#file-path=../../fantexi/keys/xaa.txt
#parse-type=table
#result-path=../../fantexi/process
#process=stat
#pipeline=avthumb-pipline
##indexes=1
#fops-index=2
##process=pfopresult
#persistentId-index=1
##process=copy
#bucket=fantasy-tv
#to-bucket=fantasy-tv
#newKey-index=1
#result-format=table


