# base: source-type 为 file
source-type=file
file-path=
parse-type=json/table
separator=\t
key-index=0/key
hash-index=1/hash
fsize-index=2/fsize
putTime-index=3/putTime
mimeType-index=4/mimeType
endUser-index=5/endUser
type-index=6/type
status-index=7/status
md5-index=8/md5
fops-index=1/fops
persistentId-index=0/persistentId
newKey-index=1/newKey

# save result
result-path=../result
result-format=
result-separator=
save-total=

# filter 可选过滤器字段设置 (针对输入信息为 file info 时可用)
f-key-prefix=
f-key-suffix=
f-key-regex=
f-mime=
f-type=
f-date=2018-08-01
f-time=00:00:00
f-direction=1
anti-f-key-prefix=
anti-f-key-suffix=
anti-f-key-regex=
anti-f-mime=

# choose result field (可选择不设置，默认值均为 true)
key-save=
hash-save=
fsize-save=
putTime-save=
mimeType-save=
endUser-save=
type-save=
status-save=
md5-save=
fops-save=
persistentId-save=

# process (根据实际 process 类型设置对应参数)
process=type
type=1
