# base: source-type 为 file (v.2.11 及以上版本也可以使用 source=file，或者不设置该参数)
source-type=list
ak=
sk=
bucket=
#threads=100
#unit-len=10000
#prefix=
#anti-prefix=

# save result
#result-path=../result
#result-format=
#result-separator=
#save-total=
# choose un-save result field (可选择不设置，默认值均为 true)
#remove-fields=

# filter 可选过滤器字段设置
#f-key-prefix=
#f-key-suffix=
#f-key-regex=
#f-mime=
#f-type=
#f-date=2018-08-01
#f-time=00:00:00
#f-direction=1
#anti-f-key-prefix=
#anti-f-key-suffix=
#anti-f-key-regex=
#anti-f-mime=

# process (根据实际 process 类型设置对应参数)
#process=type
#type=1
