# base: source-type 为 file (v.2.11 及以上版本也可以使用 source=file，或者不设置该参数)
source-type=list
ak=
sk=
bucket=
#threads=100
#unit-len=10000
#prefixes=
#prefix-config=
#anti-prefixes=
#prefix-left=
#prefix-right=

# save result
#save-path=../result
#save-format=
#save-separator=
#save-total=
# choose un-save result fields (可选择不设置，默认均保留)
#rm-fields=

# filter 可选过滤器字段设置 (针对输入信息为 file info 时可用)
#f-prefix=
#f-suffix=
#f-inner=
#f-regex=
#f-mime=
#f-type=
#f-status=
#f-date=2018-08-01
#f-time=00:00:00
#f-direction=1
#f-anti-prefix=
#f-anti-suffix=
#f-anti-iner=
#f-anti-regex=
#f-anti-f-mime=

# process (根据实际 process 类型设置对应参数)
#process=type
#type=1
